<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnStringVideojuegos" 
         connectionString="Server=.\SQL2025DEV;Database=PRO203_Repaso;User Id=sa;Password=Pass.1234;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>